@model IEnumerable<TimeGuru.Models.Project>

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}
<h3>Projects </h3>@Html.ActionLink("Create New", "Create")

@if(Model.Count()>0) {
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { name=item.Name }) |
            @Html.ActionLink("Delete", "Delete", new { name=item.Name })
        </td>
    </tr>
}

</table>
}
